.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.upload-section {
  margin-bottom: 20px;
}

.calendar-section {
  margin-top: 20px;
}

.success-day {
  background-color: green !important;
  color: red !important;
  border-radius: 50%;
}
